body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("Soccer\ Ground.jpg") no-repeat center center/cover;
  backdrop-filter: blur(2px);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.scoreboard {
  background: rgba(255, 255, 255, 0.613);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgb(24, 55, 99);
  text-align: center;
  width: 100%;
  max-width: 700px;
  height: fit-content;
  padding-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.scoreboard h1 {
  font-size: 54px;
  color: #000000;
  margin-bottom: 20px;
}

.teams {
  display: flex;
  justify-content: center;
}

.team {
  margin-right: 80px;
}
.team:last-child {
  margin-right: 0px;
}
.vs {
  margin-right: 80px;
}

.name {
  font-size: 48px;
  font-weight: bold;
  color: #190a5f;
}

.score {
  background-color: #000000;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.score span {
  font-size: 80px;
  color: #ffffff;
  font-style: oblique;
  font-weight: 100;
}

.score-button {
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background: #190a5f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.score-button:hover {
  transform: scale(1.2);
}

.vs {
  font-size: 48px;
  font-style: oblique;
  align-self: center;
  color: #000000;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#result-btn {
  margin-right: 40px;
  padding: 10px;
  margin-top: 20px;
  background: #2d5101;
  color: #ffffff;
  border-radius: 15px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

#result-btn:hover {
  transform: scale(1.1);
}

#reset-btn {
  padding: 10px;
  margin-top: 20px;
  background: #f09e06;
  color: #000;
  border-radius: 15px;
  font-size: 32px;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

#reset-btn:hover {
  transform: scale(1.1);
}

#message {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #d70603,
    #dc2e68,
    #6c2ed7,
    #0880e2,
    #10c0d7,
    #248d2a,
    #f49e14,
    #f84610
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#winner,
#draw {
  font-weight: bold;
  color: #190a5f;
  font-size: 44px;
}
